body {
  font-family: Arial, Helvetica, sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #f8f8f8;
  color: #a8a8a8;
  height: 50px;
  width: auto;
  display: flex;
}

.header p {
  margin-left: 60px;
  margin-top: 15px;
}

.header nav {
  padding-left: 800px;
  margin-top: 7px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

.header ul li {
  margin: 7px;
}

.who-intro {
  background-color: #11aab8;
  color: white;
  height: 289px;
    width: auto;
  text-align: center;
  padding: 8px
}

.who-intro p {
  margin-top: 10px;
  padding: 10px;

}

.who-intro h4 {
  padding: 10px;
  font-weight: normal;
  margin-bottom: 10px;
}

.who-intro img {
  border-radius: 50%;
  height: 170px;
  width: 206px;
}

.what {
  background-color: #4d5361;
  color: white;
  height: 200px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.what h1 {
  font-weight: bold;
  margin-top: 80px;
}

.what p {
  margin-top: 20px;
}

.form.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
  margin: 0 0 30px;
}

form.nosubmit {
  border: none;
  padding: 0;
}

input.nosubmit {
  border: 1px solid #555;
  width: 100px;
  padding: 9px 0px 9px 32px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  background-color: white;
  border-radius: 8px;
}


.where {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.where h3 {
  color: #4d5361;
}

.where a{
  margin-top: 83px;
}

.footer {
  background-color: #2f2f2f;
  color: #dfdcda;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}